@import '../../../assets/theme/index.scss';

.container {
  background-color: #50B36B;
  border-radius: px2vh(15);
  padding: px2vh(17) px2vh(16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .label > p {
    color: white;
    font-size: px2vh(27);
    line-height: px2vh(32);
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .members {
      display: flex;
      align-items: center;

      .memberWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 100%;
        background-color: white;
        margin-left: -px2vh(5.79);

        &:first-of-type {
          margin-left:  0;
        }
      }
    }
  }
}