@import '../../../assets/theme/index.scss';

.container {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 397px;

    & > div:first-of-type {
      margin-right: 20px;
    }

    & > div:last-of-type {
      flex-grow: 1;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 250px;

    & > div {
      flex-grow: 1;
    }
  }
}