@import '../../../assets/theme/index.scss';

.header {
  height: px2vh(33.29);
  display: flex;

  .teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    border-radius: 22px;
    padding: px2vh(3.6) px2vh(38.36);
    margin-right: px2vh(12.6);
    background-color: white;

    .teamName {
      margin-right: px2vh(19);
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      p {
        color: #878787;
        font-size: px2vh(15);
      }
      
      .selected {
        padding: px2vh(7.45) px2vh(12) px2vh(7.45) px2vh(15);
        background-color: $mainColor;
        border-radius: 22px;
        display: flex;

        p {
          color: white;
        }

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: px2vh(8);
        }
      }
    }
  }

  .addTeam {
    width: px2vh(32.39);
    height: px2vh(32.39);
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: px2vh(16.19);
      color: #878787;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: px2vw(269) px2vw(460) px2vw(365);
  grid-template-rows: px2vh(205) px2vh(464);
  column-gap: px2vw(19);
  row-gap: px2vh(19);
}