@import '../../../../../assets/theme/index.scss';

.shadow {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.report {
  padding: 21px 25px;
  background-color: $JH_B_SUB_5;
  border-radius: 20px;
  border: 1px solid $JH_K_10;
  display: flex;
  flex-direction: column;
  width: 557px;
  height: 337px;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 18px;
      line-height: 20px;
      color: $JH_K_100;
    }

    .moreBtn {
      display: flex;
      align-items: center;

      p {
        font-size: 13px;
        color: $JH_K_50;
      }

      img {
        width: 7px;
        height: 11px;
      }
    }
  }

  .content {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 137px auto;

    & > div {
      filter: drop-shadow(1px 0px 0px $JH_K_10)
              drop-shadow(0px 1px 0px $JH_K_10)
              drop-shadow(-1px 0px 0px $JH_K_10)
              drop-shadow(0px -1px 0px $JH_K_10);
    }
  }
}

.card {
  clip-path: path('M13 0 H181 C181 0 184 2 187 5 L207 24 H228 C235 24 241 30 241 36 V110 C241 117 235 123 228 123 H13 C6 123 0 117 0 110 L0 13 C1 6 6 0 13 0 Z');
  width: 242px;
  height: 124px;
  background-color: $JH_B_SUB_5;
  padding: 12px 14px 8px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 13px;

  .cardHeader {
    .cardTitle {
      margin-bottom: 6px;

      p {
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: $JH_K_100;
      }
    }
    
    .cardTime > p {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: $JH_K_50;
    }
  }

  .cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardEmoji {
      display: flex;

      .cardEmojiBackground {
        width: 27px;
        height: 27px;
        background-color: $SUB_20;
        border-radius: 100%;
        margin-left: -6px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .cardKeywords {
      display: flex;

      p {
        font-size: 9px;
        font-weight: 500;
        padding: 2px 4px;
        border-radius: 3px;
        margin-right: 3px;

        &:nth-of-type(1) {
          color: $JH_B_MAIN_100;
          background-color: $JH_B_SUB_100;
        }

        &:nth-of-type(2) {
          color: $JH_B_MAIN_100;
          background-color: $JH_B_MAIN_25;
        }

        &:nth-of-type(3) {
          color: $JH_K_100;
          background-color: #D9D9D9;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
