$mainColor: #50B36B;
$subColor: #DCF0E1;

$boldText: #313131;
$normalText: #686868;
$lightText: #BFBFBF;


$JH_B_MAIN_100: #3737CC;
$JH_K_100: #303132;
$JH_K_75: #57585A;
$JH_K_50: #8D8E91;
$JH_K_25: #CCCDCE;
$JH_K_10: #E5E5E6;
$JH_K_0: #FFFFFF;

$SUB_20: #C1CFFB33;