@import '../../../assets/theme/index.scss';

.main {
  display: flex;
  height: 100vh;

  .signup {
    width: px2vw(799);
    min-width: 482px;

    .header {
      display: flex;
      
      div {
        border: 1px solid $boldText;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: px2vh(9) px2vh(16.5);
        margin: px2vh(30) px2vw(15) 0 0;

        &:first-of-type {
          background-color: $mainColor;
          padding: px2vh(9) px2vh(27);
          border: 0;
          margin-left: px2vw(30);

          p {
            font-size: px2vh(16.74);
            color: $boldText 
          }
        }

        p {
          font-size: px2vh(15);
          line-height: px2vh(15);
          color: #474747;
        }
      }
    }

    .content {
      min-width: 482px;
      width: px2vw(482);
      margin: px2vh(57) auto 0;

      .carousel {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        div {
          width: px2vh(12);
          height: px2vh(12);
          border-radius: 100%;
          margin-left: px2vh(17);

          &:first-of-type {
            margin-left: 0;
          }

          &.deactive {
            background-color: $subColor;
          }

          &.active {
            background-color: $mainColor;
          }
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .h1 {
          font-size: px2vh(20);
          line-height: px2vh(35);
          color: $boldText;
        }

        .h2 {
          font-size: px2vh(15);
          line-height: px2vh(35);
          font-weight: 500;
          color: $boldText;
        }
      }

      label {
        font-size: px2vh(20);
        line-height: px2vh(35);
        color: $boldText;
      }

      input {
        border: 0.8px solid #50B36B;
        background-color: #FAFDFB;
        height: px2vh(46);
        border-radius: 10px;
        padding: 4.5px 16px;
        box-sizing: border-box;
        font-size: px2vh(13);
        font-weight: 400;
        flex-grow: 1;

        &::placeholder {
          color: #989898;
        }
      }

      .inputForm {
        display: flex;
        align-items: center;

        .btn {
          min-width: 84px;
          width: px2vw(84);
          height: px2vh(44);
          background-color: #313131;
          border: 0.8px solid #454545;
          border-radius: 23px;
          margin-left: px2vw(14);
          
          p {
            color: $subColor;
            font-size: px2vh(13);
          }
        }

        .hideBtn {
          visibility: hidden;
        }
      }

      .okBtn {
        margin: 0 auto;
        width: px2vw(364);
        min-width: 364px;
        height: px2vh(33);
        background-color: $mainColor;
        color: white;
        border-radius: 7px;

        p {
          font-size: px2vh(15);
          line-height: px2vh(16);
        }
      }

      .page1 {
        margin: px2vh(41) auto 0;

        .form {
          margin-top: px2vh(64);
          display: flex;
          flex-direction: column;
          width: 100%;

          .userInfo {
            margin-top: px2vh(13);
            display: flex;
            justify-content: space-between;
            
            .number {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
            }

            .major {
              display: flex;
              flex-direction: column;
              margin-left: px2vw(20);
              flex-grow: 1;
            }
          }

          .emailForm {
            margin-top: px2vh(13);

            .code {
              margin-top: px2vh(12);
            }
          }
        }

        .okBtn {
          margin-top: px2vh(75);
        }
      }

      .page2 {
        margin: px2vh(41) auto 0;

        .form {
          margin-top: px2vh(39);

          .idForm {
            margin-top: px2vh(13);
          }
  
          .pwForm {
            margin-top: px2vh(6);
  
            .pwInput {
              margin-top: px2vh(9);
            }
            
            .pwCheck {
              margin-top: px2vh(14);
            }
          }
        }

        .okBtn {
          margin-top: px2vh(96);
        }
      }

      .page3 {
        margin: px2vh(149) auto 0;

        .okBtn {
          margin-top: px2vh(358);
        }
      }
    }
  }

  .background {
    width: px2vw(395);
    background-image: url("http://via.placeholder.com/395x810");
  }
}
