@import '../../../assets/theme/index.scss';

.main {
  display: flex;
  height: 100vh;

  .signup {
    width: 799px;

    .header {
      margin: 28px 0 105px 30px;
      cursor: pointer;

      img {
        width: 115px;
        height: 20px;
      }
    }

    .content {
      width: 482px;
      margin: auto;

      & > div:not(.active) {
        display: none;
      }

      .page {
        .headerInfo {
          margin-bottom: 51px;
        }
        
        .h1 {
          font-size: 20px;
          line-height: 27px;
          color: $JH_K_100;
          text-align: center;
        }

        .h2 {
          font-size: 13px;
          line-height: 18px;
          color: $JH_K_25;
          text-align: center;
          margin-top: 21px;
        }

        .form {
          width: 100%;

          label:has(span) {
            font-size: 18px;
            line-height: 25px;
            color: $JH_K_100;
    
            span {
              color: $JH_B_MAIN_100;
            }
    
            & + .empty {
              height: 12px;
            }
          }

          .empty {
            width: 20px;
          }
    
          .inputForm {
            display: flex;
            align-items: center;
    
            input {
              border: 1px solid $JH_K_10;
              height: 34px;
              border-radius: 11px;
              padding: 8px 14px;
              box-sizing: border-box;
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
              flex-grow: 1;
      
              &::placeholder {
                color: $JH_K_50;
              }
    
              &:focus {
                outline: none;
                border-color: $JH_B_MAIN_100;
              }
            }
    
            .btn {
              width: 84px;
              height: 34px;
              background-color: $SUB_20;
              border-radius: 23px;
              margin-left: 14px;
              
              p {
                color: $JH_K_100;
                font-size: 13px;
                line-height: 18px;
              }
            }
    
            .hideBtn {
              visibility: hidden;
            }
          }
        }
      }

      .page1 {
        .form {
          .userInfo {
            margin-top: 25px;
            display: flex;
            align-items: center;

            .number {
              flex-grow: 1;
            }

            .major {
              flex-grow: 1;
            }
          }

          .emailForm {
            margin-top: 25px;

            .code {
              margin-top: 15px;
            }
          }
        }

        .okBtn {
          margin: 67px auto 0;
          width: 364px;
          height: 34px;
          background-color: $JH_B_MAIN_100;
          border-radius: 5px;
  
          p {
            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            color: $JH_K_0;
          }
        }
      }

      .page2 {
        .form {
          .idForm {
            margin-top: 25px;
          }

          .pwForm {
            margin-top: 25px;
          }

          .pwCheck {
            margin-top: 15px;
          }
        }

        .okBtn {
          margin-top: 67px;
          display: flex;
          align-items: center;
          justify-content: center;

          & > div {
            width: 172px;
            height: 34px;
            border-radius: 5px;
            box-sizing: border-box;

            p {
              font-size: 13px;
              font-weight: 700;
              line-height: 18px;
            }
          }

          .prev {
            border: 1px solid $JH_B_MAIN_100;
            background-color: $JH_K_0;
            margin-right: 20px;

            p {
              color: $JH_B_MAIN_100;
            }
          }

          .next {
            background-color: $JH_B_MAIN_100;

            p {
              color: $JH_K_0;
            }
          }
        }
      }

      .page3 {
        .headerInfo {
          display: flex;
          justify-content: center;
          margin: 0;
        }

        .comment {
          margin-top: 166px;
        }

        .okBtn {
          margin: 244px auto 0;
          width: 364px;
          height: 34px;
          background-color: $JH_B_MAIN_100;
          border-radius: 5px;
          
          p {
            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            color: $JH_K_0;
          }
        }
      }
    }
  }

  .background {
    flex-grow: 1;
    background-color: #F3F5FE;

    img {
      width: 100%;
    }
  }
}
