@import '../../../assets/theme/index.scss';

.container {
  display: flex;
  flex-direction: column;

  .content {
    height: 667px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
      'notice content'
      'assignment content';
    
    .notice {
      grid-area: notice;

    }

    .assignment {
      grid-area: assignment;
    
    }

    .students {
      grid-area: content;
      box-sizing: border-box;
      padding: 0 !important;

      .top {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        .control {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          height: 100%;

          & > div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 17px 20px;
            box-sizing: border-box;

            p {
              font-weight: 700;
              font-size: 18px;
              line-height: 25px;
              color: $JH_K_50;

              span {
                font-weight: 700;
                font-size: 15px;
                line-height: 15px;
                color: $JH_B_MAIN_50;
              }
            }

            &.active {
              border-bottom: 3px solid $JH_B_MAIN_100;

              p {
                color: #313131;

                span {
                  color: $JH_B_MAIN_100;
                }
              }
            }
          }
        }

        .etc {

        }
      }

      .studentInfo {
        table {
          width: 100%;
          border-collapse: collapse;

          &, thead, tbody, tr, th, td {
            display: block;
            float: left;
            width: 100%;
          }
          tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
          }

          tr {
            height: 49px;
            display: flex;
            align-items: center;
            border-top: 1px solid $JH_K_10;
          }

          thead {
            width: 100%;

            .studentControl {
              th {
                width: calc(100% / 8);
                font-size: 15px;
                line-height: 18px;
                color: $JH_K_75;
              }
            }
          }

          tbody {
            height: 556px;
            overflow-y: scroll;
            scrollbar-width: none;
            width: 100%;
            
            &::-webkit-scrollbar {
              display: none;
            }

            td {
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                font-size: 15px;
                line-height: 18px;
                color: $JH_K_100;
                text-align: center;
              }

              &:last-of-type {
                & > div {
                  width: 65px;
                  height: 25px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 5px;
                  background-color: $JH_B_SUB_25;

                  p {
                    font-size: 13px;
                    line-height: 19px;
                  }
                }
              }
            }

            .emojiWrapper {
              width: 30px;
              height: 30px;
              border: 1px solid $JH_K_10;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 20px;
              }
            }

            &.studentControl {
              td {
                width: calc(100% / 8);
              }
            }

            &.teamControl {
              td:nth-of-type(2) > div {
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                  margin-left: -5px;
                  background-color: white;

                  &:first-of-type {
                    margin-left: 0;
                  }
                }
              }
            }

            .teamname {
              width: 65px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;

              p {
                font-size: 13px;
                font-weight: 500;
              }
              &.color0 {
                background-color: $JH_B_SUB_100;
                p {
                  color: $JH_B_MAIN_100;
                }
              }
              &.color1 {
                background-color: $SUB_20;
                p {
                  color: $JH_B_MAIN_100;
                }
              }
              &.color2 {
                background-color: #D9D9D9;
                p {
                  color: $JH_K_100;
                }
              }
              &.color3 {
                background-color: $JH_B_MAIN_50 ;
                p {
                  color: $JH_K_0;
                }
              }
              &.color4 {
                background-color: $JH_B_SUB_100;
                p {
                  color: $JH_K_100;
                }
              }
              &.color5 {
                background-color: $JH_B_POINT_100;
                p {
                  color: $JH_K_100;
                }
              }
            }
          }
        }
      }
    }

    .createTeam {
      grid-area: content;

      .top {
        display: flex;
        flex-direction: column;
        margin-top: 139px;
        align-items: center;
        justify-content: center;
        margin-bottom: 82px;

        img {
          margin-bottom: 22px;
          width: 88px;
        }

        p {
          margin-bottom: 9px;
          font-size: 20px;
          line-height: 27px;
          color: $JH_K_100;

          &:last-of-type {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
          display: flex;
          flex-direction: column;
          
          img {
            width: 48px;
            height: 48px;
            margin-bottom: 11px;

            & + div {
              display: flex;
              align-items: flex-end;
              border-right: 1px solid $JH_K_25;
              height: 36px;
            }
          }

          p {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: $JH_K_10;
            padding: 0 20px;

            &.active {
              color: $JH_B_MAIN_100;
            }
          }

          &:last-of-type {
            div {
              border-right: 0;
            }
          }
        }
      }

      .btn {
        width: 172px;
        height: 34px;
        margin: 150px auto 0;
        background-color: $JH_B_MAIN_100;
        border-radius: 5px;
        box-sizing: border-box;

        p {
          color: $JH_K_0;
          font-size: 13px;
        }
      }
    }

    .step {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 667px;
      box-sizing: border-box;

      .top {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 20px;
          line-height: 27px;
          color: $JH_K_100;
        }

        img {
          margin-top: 19px;
        }
      }

      .btns {
        display: flex;
        margin-bottom: 13px;

        div {
          width: 172px;
          height: 34px;
          border-radius: 5px;
          
          p {
            font-size: 13px;
            line-height: 18px;
          }

          &:first-of-type {
            border: 1px solid $JH_B_MAIN_100;
            margin-right: 20px;

            p {
              color: $JH_B_MAIN_100;
            }
          }

          &:last-of-type {
            background-color: $JH_B_MAIN_100;

            p {
              color: $JH_K_0;
            }
          }
        }
      }
    }

    .step1 {
      .bottom {
        display: grid;
        grid-template-areas: 
          'setting setting'
          'teamCount memberCount'
          'info info';
        gap: 21px;
        
        .setting {
          grid-area: setting;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          border: 1px solid $JH_K_10;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          width: 557px;

          p {
            color: $JH_K_75;
            font-size: 18px;
            line-height: 25px;
          }
        }

        .teamCount {
          grid-area: teamCount;
          height: 97px;
          width: 268px;
          border-radius: 15px;
          border: 1px solid $JH_K_10;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          & > div {
            display: flex;

            div > p {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              background-color: $JH_B_SUB_100;
              width: 19px;
              height: 19px;
              margin: 0 8px;
              font-size: 15px;
              line-height: 18px;
              color: $JH_K_100;
            }
          }
        }

        .memberCount {
          grid-area: memberCount;
          width: 268px;
          border-radius: 15px;
          border: 1px solid $JH_K_10;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          p {
            font-size: 15px;
            line-height: 18px;
            color: $JH_K_100;
          }
        }

        .info {
          grid-area: info;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          line-height: 18px;
          color: $JH_K_50;
        }
      }
    }

    .analyzing {
      display: flex;
      justify-content: center;
      align-items: center;

      .icons {
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        height: 42px;
    
        img {
          width: 29px;
          height: 28px;
          margin-right: 3px;
    
          &:last-of-type {
            margin-right: 0;
          }
    
          &:nth-of-type(2n) {
            margin-top: 7px;
          }
    
          &:nth-of-type(odd) {
            margin-top: -7px;
          }

          &:nth-of-type(1) {
            animation: logo 2s infinite ease-in-out;
          }
          &:nth-of-type(2) {
            animation: logo 2s infinite ease-in-out;
            animation-delay: 0.3s;
          }
          &:nth-of-type(3) {
            animation: logo 2s infinite ease-in-out;
            animation-delay: 0.6s;
          }
          &:nth-of-type(4) {
            animation: logo 2s infinite ease-in-out;
            animation-delay: 0.9s;
          }
          &:nth-of-type(5) {
            animation: logo 2s infinite ease-in-out;
            animation-delay: 1.2s;
          }
          @keyframes logo {
            20% {
              transform: translateY(-20px);
            }
            40% {
              transform: translateY(0px);
            }
          }
        }
      }
    
      .info p {
        font-size: 15px;
        line-height: 18px;
      }
    }

    .step2 {
      width: 845px;
      position: relative;
      
      .shadow {
        position: absolute;
        width: 43px;
        height: 800px;
        right: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }

      .bottom {
        margin-top: 0;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: 0;
        width: 100%;
        box-sizing: border-box;

        &::-webkit-scrollbar {
          display: none;
        }

        .card {
          width: 269px;
          background-color: $SUB_20;
          border-radius: 15px;
          border: 1px solid $JH_K_10;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          padding: 13px 23px 15px;
          margin-left: 10px;
          box-sizing: border-box;

          .title {
            display: flex;
            align-items: center;

            p {
              font-size: 18px;
              line-height: 19px;
              color: $JH_K_75;
            }

            div {
              width: 27px;
              height: 15px;
              border-radius: 9.5px;
              background-color: $JH_B_MAIN_100;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 7px;

              p {
                font-size: 10px;
                line-height: 13px;
                font-weight: 500;
                color: $JH_K_0;
              }
            }
          }

          .people {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            .user {
              width: 223px;
              height: 55px;
              background-color: $JH_K_0;
              border-radius: 10px;
              display: flex;
              align-items: center;
              padding: 10px 24px 10px 8px;
              box-sizing: border-box;
              margin-bottom: 10px;

              .userEmoji {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                border: 1px solid $JH_K_10;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 4px;

                img {
                  width: 60%;
                }
              }

              .allInfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 36px;
                flex-grow: 1;

                & > div:first-of-type {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  p {
                    font-size: 13px;
                    line-height: 18px;
                    color: $JH_K_100;
                  }
                  
                  .pac {
                    width: 48px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    padding: 2px;
                    box-sizing: border-box;

                    div {
                      width: 13px;
                      height: 13px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: $JH_K_0;
                      border-radius: 100%;
                      margin-right: 5px;
                      box-sizing: border-box;

                      p {
                        font-size: 8px;
                        line-height: 13px;
                        color: $JH_K_50;
                      }
                    }

                    p {
                      font-size: 10px;
                      line-height: 13px;
                      color: $JH_K_100;
                    }

                    &.strong {
                      background-color: $JH_B_SUB_100;
                    }

                    &.weak {
                      background-color: $JH_K_10;
                    }
                  }
                }

                & > div:last-of-type {
                  p {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 13px;
                    color: $JH_K_100;
                  }
                }
              }
            }
          }

          .tpac {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            
            .pac {
              display: flex;
              align-items: center;
              margin-left: 12px;
              margin-bottom: 8px;

              p {
                font-size: 10px;
                line-height: 13px;
                color: $JH_K_100;
              }

              div {
                margin-left: 8px;
                border-radius: 8.5px;
                padding: 2px 7px;

                &:first-of-type {
                  background-color: $JH_B_SUB_100;
                }

                &:last-of-type {
                  background-color: $JH_K_10;
                }
              }
            }
          }
        }
      }
    }

    .step3 {
      .bottom {
        img {
          width: 780px;
          height: 395px;
        }
      }

      .btn {
        margin-bottom: 28px;

        div {
          width: 179px;
          height: 34px;
          background-color: $JH_B_MAIN_100;
          border-radius: 5px;

          p {
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            color: $JH_K_0;
          }
        }
      }
    }

    .block {
      border-radius: 20px;
      border: 1px solid $JH_K_10;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
      padding: 15px;

      .header {
        height: 31px;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > p:first-of-type {
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: #313131;
        } 

        div > p {
          font-size: 13px;
          line-height: 18px;
          color: $JH_K_50;
        }
      }

      .addonContent {
        margin-top: 8px;
        height: 245px;
        overflow-y: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
          display: none;
        }

        .startBtn {
          width: 100%;
          height: 52px;
          box-sizing: border-box;
          border-radius: 10px;
          border: 1px solid $JH_K_10;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $JH_B_LIGHT;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

          p {
            font-size: 15px;
            line-height: 18px;
            color: $JH_K_100;
          }
        }

        .assignments {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          .assignment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            height: 32px;
            padding: 7px 13px;
            border-radius: 50px;
            border: 1px solid $JH_K_10;
            margin-top: 17px;

            img {
              width: 11px;
              height: 11px;
              margin-right: 8px;

              & + p {
                flex-grow: 1;
                font-weight: 500;
                font-size: 15px;
                color: #313131;

                & + p {
                  font-weight: 500;
                  font-size: 10px;
                  color: $JH_K_50;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $JH_K_100_50;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));

  .detail {
    img {
      width: 639px;
      height: 684px;
    }

    &.person img {
      width: 564px;
      height: 542px;
    }
  }
  
  .assignment {
    position: relative;

    img {
      width: 363px;
      height: 541px;
    }

    .closeBtn {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 29px;
      left: 325px;
    }

    .nextBtn {
      width: 147px;
      height: 33px;
      position: absolute;
      left: 191px;
      top: 480px;

      &.fullBtn {
        width: 314px;
        left: 24px;
      }
    }

    .prevBtn {
      width: 147px;
      height: 33px;
      position: absolute;
      left: 24px;
      top: 480px;
    }

    .checkBtn {
      width: 113px;
      height: 162px;
      position: absolute;
      top: 220px;
      left: 203px;
    }
  }
}