@import '../../../../../assets/theme/index.scss';

.meeting {
  .shadow {
    filter: drop-shadow(1px 0px 0px $JH_K_10)
            drop-shadow(0px 1px 0px $JH_K_10)
            drop-shadow(-1px 0px 0px $JH_K_10)
            drop-shadow(0px -1px 0px $JH_K_10)
            drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
    min-width: 557px;
  }

  .background {
    width: 100%;
    height: 397px;
    background-color: $BGC;
    clip-path: path('M17 0 C10 0 0 10 0 17 V372 C0 372 0 397 25 397 H532 C532 397 557 397 557 372 V85 C557 85 557 60 532 60 H280 L245 15 C245 15 235 0 220 0 Z');
    display: flex;
    flex-direction: column;

    &.yelloCard {
      background-color: #FFF963E5;

      .yello {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;

        .info {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 20px;

          p {
            font-size: 16px;
            line-height: 25px;
            color: $JH_K_100;

            span {
              text-decoration: underline;
              font-weight: 700;
            }
          }
        }

        .input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 492px;
          height: 37px;
          border: 1.5px dashed $JH_K_100;
          border-radius: 53px;
          padding: 5px 5px 5px 16px;
          margin: 1px 0 35px 0;
          box-sizing: border-box;

          p {
            font-size: 16px;
            color: $JH_K_100;
          }

          div {
            background-color: $JH_K_25;
            border-radius: 20px;
            width: 66px;
            height: 28px;

            p {
              font-weight: 700;
              color: $JH_K_0;
              font-size: 12px;
            }
          } 
        }
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 21px 0 0 0;

    img {
      width: 22px;
      height: 22px;
      margin: 0 14px 0 27px;
    }

    p {
      font-size: 27px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  .content {
    flex-grow: 1;
    padding: 31px 28px;
    display: flex;
    align-items: flex-end;

    .log {
      flex-grow: 1;

      .logContent {
        display: flex;

        .logBar {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 13px;

          .logIcon {
            width: 11px;
            height: 11px;
            border-radius: 100%;
            border: 1px solid $JH_K_100;
            margin-bottom: 5px;
            margin-top: 7px;

            &.active {
              border: none;
              background-color: $JH_B_MAIN_100;
            }
          }

          .logIconBar {
            height: 57px;
            border-right: 1px solid $JH_K_100;
          }
        }

        .logText {
          .logTitle {
            font-size: 15px;
            line-height: 25px;
            color: #95969A;

            &.active {
              font-weight: 700;
              font-size: 18px;
              line-height: 25px;
              color: $JH_K_100;
              margin-bottom: 6px;
            }
          }

          .logTime {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #999696;
            margin-bottom: 7px;
          }

          .logOption {
            display: flex;
            margin-bottom: 9px;

            p {
              padding: 2px 3px;
              font-size: 10px;
              line-height: 13px;
              color: $JH_B_MAIN_100;
              border-radius: 3px;
              margin-right: 2px;

              &:first-of-type {
                background-color: $JH_B_MAIN_25;
              }

              &:last-of-type {
                background-color: $JH_B_SUB_100;
              }
            }
          }
        }
      }
    }

    .buttons {
      .btn {
        width: 120px;
        height: 41px;
        border-radius: 35px;

        p {
          font-size: 18px;
          line-height: 25px;
        }

        &.reserve {
          border: 1px solid $JH_B_MAIN_100;
          margin-bottom: 11px;

          p {
            color: $JH_B_MAIN_100;
          }
        }

        &.start {
          background-color: $JH_B_MAIN_100;

          p {
            color: $JH_K_0;
          }

          &.currentMeeting {
            background-color: $JH_K_25;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            p:last-of-type {
              font-size: 10px;
              line-height: 10px;
            }
          }
        }
      }
    }
  }
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $JH_K_100_50;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));

  .createMeeting {
    width: 363px;
    height: 542px;
    background-color: white;
    border-radius: 15px;

    .title {
      margin: 48px 0 66px 0;
      text-align: center;
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;
      color: $JH_K_100;
    }

    .content {
      display: grid;
      grid-template-columns: 74px 1fr;
      grid-template-rows: repeat(4, 73px);
      justify-content: start;
      align-items: start;
      padding: 0 42px;

      label {
        font-size: 15px;
        line-height: 18px;
        color: $JH_K_100;
        height: 32px;
        display: flex;
        align-items: center;
      }

      input {
        height: 32px;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 18px;
        padding: 6px 10px;
        color: $JH_K_100;
        border: 1px solid $JH_K_25;
        outline-color: $JH_B_MAIN_100;

        &::placeholder {
          color: $JH_K_25;
        }
        
        &.name {
          width: 171px;
          border-radius: 4px;
        }

        &.date {
          width: 97px;
          border-radius: 25px;
        }
      }

      .inputTime {
        display: flex;
        
        .time {
          display: flex;
          align-items: center;

          &:first-of-type {
            margin-right: 22px;
          }

          input {
            width: 91px;
            padding-right: 41px;
            border-radius: 25px;
          }

          .timeBtn {
            margin-left: -41px;
            margin-right: 5px;
            width: 36px;
            height: 20px;
            background-color: $SUB_20;
            border-radius: 16px;
            
            p {
              font-size: 13px;
              line-height: 18px;
              color: $JH_K_100;
            }
          }
        }
      }
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 46px;

      .btn {
        height: 33px;
        width: 147px;
        border-radius: 5px;

        p {
          font-size: 13px;
          line-height: 18px;
          font-weight: 700;
        }

        &.cancel {
          border: 1px solid $JH_B_MAIN_100;

          p {
            color: $JH_B_MAIN_100;
          }
        }

        &.reserve {
          background-color: $JH_B_MAIN_100;

          p {
            color: $JH_K_0;
          }
        }
      }
    }
  }

  &.createTasks {
    z-index: 4;

    .createTask {
      width: 363px;
      box-sizing: border-box;
      height: 542px;
      background-color: white;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 29px 25px;

      .top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .info {
        width: 100%;
        margin-bottom: 54px;
        margin-top: 41px;

        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: $JH_K_100;

          &:first-of-type {
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            margin-bottom: 14px;
          }
        }
      }

      .bottom {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 18px;
        height: 242px;
        box-sizing: border-box;
        overflow-y: scroll;
        scrollbar-width: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        .taskList {
          width: 100%;
          max-height: 242px;

          .task {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $JH_K_10;
            border-radius: 5px;
            padding: 4px 9px;
            height: 29px;
            margin-top: 5px;

            p {
              font-size: 12px;
              color: $JH_K_100;
            }

            &.input {
              p {
                color: $JH_K_10;
              }
            }

            .stars {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .img {
        flex-grow: 1;
        padding-top: 50px;
      }

      .taskCheck {
        & > div {
          width: 100%;
          height: 30px;
          box-sizing: border-box;
          border: 1px solid $JH_K_10;
          padding: 5px 7px;
          display: flex;
          align-items: center;
          margin-top: 6px;
          border-radius: 5px;

          &.me {
            border: none;
            background-color: $JH_B_SUB_100;
          }

          & > div {
            margin-right: 8px;
            background-color: white;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 15px;
              height: 15px;
            }
          }

          p {
            font-size: 12px;
            color: $JH_K_100;
          }
        }
      }

      .btn {
        width: 100%;
        background-color: $JH_B_MAIN_100;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;

        p {
          color: $JH_K_0;
          font-weight: 700;
          font-size: 13px;
        }
      }

      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          width: 147px;
          height: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          &:first-of-type {
            border: 1px solid $JH_B_MAIN_100;

            p {
              color: $JH_B_MAIN_100;
            }
          }

          &:last-of-type {
            background-color: $JH_B_MAIN_100;

            p {
              color: $JH_K_0;
            }
          }

          p {
            font-weight: 700;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.meetingScreen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: white;

  .header {
    width: 348px;
    height: 33px;
    border-radius: 20px;
    background-color: $SUB_20;
    font-size: 15px;
    line-height: 15px;
    color: $JH_K_100;
    text-align: center;
    padding: 9px 0;
    box-sizing: border-box;
    border: none;

    &::placeholder {
      color: $JH_K_50;
    }
  }

  .wrapper {
    min-width: 1134px;
    height: 690px;
    padding: 23px;
    box-sizing: border-box;
    border-radius: 15px 15px 30px 30px;
    background-color: $JH_B_SUB_5;
  }

  .gridBase {
    width: 100%;
    height: 100%;
    background-image: radial-gradient($JH_K_25 10%, transparent 10%);
    background-position: 5px 5px;
    background-size: 10px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.6fr;
    grid-template-rows: 1.7fr 1fr 2fr;
    gap: 20px;
    grid-template-areas: 
      "recording person1 person2 memo memo"
      "   task     task  person3 memo memo"
      "   task     task  person3 person4 percent";
    
    .recording { 
      grid-area: recording;
      background-color: $JH_B_LIGHT;
      border-radius: 15px;

      .info {
        margin: 13px 15px 31px 19px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .recordIcon {
          box-sizing: border-box;
          width: 35px;
          height: 35px;
          border-radius: 100%;
          border: 1px solid $JH_K_100;
          display: flex;
          justify-content: center;
          align-items: center;

          .recordIconInner {
            box-sizing: border-box;
            width: 7px;
            height: 7px;
            background-color: #CF0000;
            border-radius: 100%;
          }
        }
      }

      .recordImg {
        margin: 0 14px;
        display: flex;
        align-items: center;

        img {
          height: 100px;
        }
        .recordLine {
          height: 83px;
          border-right: 3px solid #CF0000;
          margin-left: -5px;
        }
      }
    }

    .tasks {
      grid-area: task;
      border-radius: 15px;
      background-color: $JH_B_LIGHT;
      padding: 19px;
      display: flex;
      flex-direction: column;

      .taskInfo {
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: $JH_K_100;
        }
      }

      .taskContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-grow: 1;

        .addBtn p {
          font-size: 18px;
          line-height: 25px;
          color: $JH_K_100;
        }

        .task {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 4px 6px;
          background-color: white;
          border-radius: 50px;
          margin-bottom: 8px;

          &.myTask {
            background-color: $JH_B_SUB_100;
          }

          .emoji {
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            & + p {
              flex-grow: 1;
              font-size: 15px;
              color: $JH_K_100;

              & + div{
                width: 75px;

                img {
                  width: 13px;
                }

                & + p {
                  width: 29px;
                  font-size: 13px;
                  color: $JH_K_100;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .memo { 
      grid-area: memo; 
      border-radius: 15px;
      background-color: $JH_B_LIGHT;
      padding: 19px;
      display: flex;
      flex-direction: column;

      .memoInfo {
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: $JH_K_100;
        }
      }

      .memoContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-grow: 1;

        .addBtn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            font-size: 18px;
            line-height: 25px;
            color: $JH_K_100;
          }
        }
      }

      .memoOption {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        & > div {
          margin-right: 10px;

          p {
            font-size: 16px;
            line-height: 27px;
            color: $JH_K_100;
          }

          &:nth-of-type(1) p {
            font-weight: 900;
          }

          &:nth-of-type(2) p {
            text-decoration: underline;
          }

          &:nth-of-type(3) p {
            text-decoration: line-through;
          }
        }
      }
    }

    .percent { 
      grid-area: percent; 
      border-radius: 15px;
      background-color: $JH_B_LIGHT;
      padding: 9px;

      .percentInfo {
        p {
          font-weight: 700;
          font-size: 15px;
          line-height: 25px;

          span {
            font-weight: 700;
            font-size: 10px;
            line-height: 25px;
          }
        }
      }

      img {
        width: 75px;
        margin: 15px 15px;
      }
    }

    .person {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      video {
        width: 100%;
        height: 100%;
      }

      .personName {
        position: absolute;
        left: 13px;
        top: 20px;
        border-radius: 25px;
        background-color: $JH_K_50;
        padding: 5px 11px;

        p {
          font-size: 13px;
          line-height: 18px;
          color: $JH_K_0;
        }
      }

      .micInfo {
        position: absolute;
        left: 21px;
        bottom: 15px;
        display: flex;
        align-items: center;

        .emoji {
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
          width: 32px;
          height: 32px;
          background-color: $JH_K_0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          margin-right: 10px;

          img {
            width: 26px;
            height: 26px;
          }
        }

        .mic {
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
          width: 32px;
          height: 32px;
          background-color: $JH_K_10;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
        }
      }

      &.person1 { 
        grid-area: person1; 
        border-radius: 15px;
        background-color: $JH_B_POINT_100;
      }
  
      &.person2 { 
        grid-area: person2; 
        border-radius: 15px;
        background-color: $JH_B_POINT_100;
      }
  
      &.person3 { 
        grid-area: person3; 
        border-radius: 15px;
        background-color: $JH_B_SUB_100;
      }
  
      &.person4 { 
        grid-area: person4; 
        border-radius: 15px;
        background-color: $JH_B_POINT_100;
      }
    }
  }
}

.fab {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100vw;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .personInfo {
    width: 133px;
    height: 58px;
    border-radius: 30px;
    background-color: rgba($JH_K_75, 0.8);
    box-sizing: border-box;
    padding: 9px;
    display: flex;
    align-items: center;

    .emoji {
      border-radius: 100%;
      background-color: $JH_K_0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .people {
      margin-left: 8px;

      p {
        font-size: 15px;
        line-height: 18px;
        color: $JH_K_0;
      }
    }
  }

  .control {
    width: 201px;
    height: 60px;
    border-radius: 30px;
    background-color: $JH_K_75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;

    & > div {
      width: 36px;
      height: 36px;
      border: 1px solid $JH_K_100;
      border-radius: 100%;
      background-color: $JH_K_0;
      box-sizing: border-box;

      &.onAir {
        background-color: $JH_B_MAIN_100;
      }

      &.minimize {
        background-color: $JH_B_SUB_100;
      }

      &.setRotate {
        rotate: 180deg;
      }
    }
  }
  
  .end {
    width: 129px;
    height: 47px;
    border-radius: 25px;
    background-color: $JH_B_MAIN_100;

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: $JH_K_0;
    }
  }
}