@import '../../../../../assets/theme/index.scss';

.meeting {
  .shadow {
    filter: drop-shadow(1px 0px 0px $JH_K_10)
            drop-shadow(0px 1px 0px $JH_K_10)
            drop-shadow(-1px 0px 0px $JH_K_10)
            drop-shadow(0px -1px 0px $JH_K_10)
            drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
  }
  .background {
    width: 557px;
    height: 397px;
    background-color: $BGC;
    clip-path: path('M17 0 C10 0 0 10 0 17 V372 C0 372 0 397 25 397 H532 C532 397 557 397 557 372 V85 C557 85 557 60 532 60 H280 L245 15 C245 15 235 0 220 0 Z');
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 21px 0 0 0;

    img {
      width: 22px;
      height: 22px;
      margin: 0 14px 0 27px;
    }

    p {
      font-size: 27px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  .content {
    flex-grow: 1;
    padding: 31px 28px;
    display: flex;
    align-items: flex-end;

    .log {
      flex-grow: 1;
    }

    .buttons {
      .btn {
        width: 120px;
        height: 41px;
        border-radius: 35px;

        p {
          font-size: 18px;
          line-height: 25px;
        }

        &.reserve {
          border: 1px solid $JH_B_MAIN_100;
          margin-bottom: 11px;

          p {
            color: $JH_B_MAIN_100;
          }
        }

        &.start {
          background-color: $JH_B_MAIN_100;

          p {
            color: $JH_K_0;
          }
        }
      }
    }
  }
}


